.header {
  min-height: 62px;
  background-color: #111;
  padding: 15px;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &__left,
  &__center,
  &__right {
    flex: 1;
  }

  &__center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button,
  a {
    color: #fff;
  }
}
