@import "../../../assets/colors.scss";

.current-exercise-page {
  scroll-behavior: smooth;
}

.exercise-input {
  display: inline-block !important;
  width: 48%;

  span.ant-form-item-children {
    display: block;
    width: 100%;

    & > .ant-input-number {
      width: 100%;
    }
  }
}

.reps-input {
  float: right;
}

.exercise-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    flex: 1;
    border-radius: 0;
    padding: 10px;
    height: auto;
  }
}

.ant-btn.add-set-button {
  width: 100%;
  background-color: rgba($success, 0.75);
  color: rgba(#fff, 0.75);
  padding: 7px;
  height: auto;

  &:hover,
  &:focus,
  &:active {
    border-color: $success;
    background-color: rgba($success, 0.9);
    color: #fff;
  }
}

.back-button {
  padding: 0 !important;
}

.complete-exercise-btn {
  &[disabled] {
    color: #fff !important;
    background: #1890ff !important;
    border-color: #1890ff !important;
    opacity: 0.65;
  }
}
