.auth-page {
  flex: 1;
  background-color: #6c757d;
  background: url("../../assets/auth-background.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-card {
  background-color: rgba(255, 255, 255, 0.85);
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.passwordsError {
  text-align: right;
}

.auth-submit-btn {
  width: 100%;
}

.auth-link {
  text-align: right;
  margin-left: auto;
  margin-top: 1rem;
}
