.passwordIconBtn {
  display: inline-flex;
  padding: 10px;
  border-radius: 6px;
  background: transparent;
  border: none;
  transition: transform 0.25s;
}

.passwordIconBtn:hover {
  transform: scale(1.25);
}

.passwordIconBtn:focus,
.passwordIconBtn:active {
  outline: none !important;
}
