@import "../../assets/colors.scss";

.tab {
  background: rgba(255, 255, 255, 0.45);
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: none;
    border: none;
    padding: 10px;
    margin: 0 10px;
    transition: color 0.25s, opacity 0.25s;
    opacity: 0.85;
    cursor: pointer;

    &.active {
      color: #fff;
      opacity: 1;
    }

    &:active,
    &:focus {
      outline: none;
    }

    &:hover {
      color: #fff;
      opacity: 1;
    }
  }

  &__title {
    margin-top: 5px;
    font-weight: 600;
  }
}
