@import "../../../assets/colors.scss";

.is-running {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-btn.add-exercise-btn {
  width: 100%;
  background-color: rgba($muted, 0.75);
  color: rgba(#fff, 0.75);
  padding: 10px;
  height: auto;

  &:hover,
  &:focus,
  &:active {
    border-color: $muted;
    background-color: rgba($muted, 0.9);
    color: #fff;
  }
}

.finish-workout-button {
  background-color: $success !important;
  border-color: $success !important;

  &[disabled] {
    background-color: $success !important;
    border-color: $success !important;
    color: #fff !important;
    opacity: 0.65;
  }
}
